@import "uikit.min.css";
@import "font-awesome.css";
@import "toasts.css";
@import "magic.css";
@import "animate.css";
@import "magnific-popup.css";
@import "owl.carousel.css";
@import "owl.theme.css";
@import "owl.transitions.css";

/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PlayfairDisplayRegular"; */
@font-face {
    font-family: "PlayfairDisplayRegular";
    src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot");
    src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.woff") format("woff"),
    url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PlayfairDisplayBold"; */
@font-face {
    font-family: "PlayfairDisplayBold";
    src: url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.eot");
    src: url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.woff") format("woff"),
    url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



/*
    Custom marin top & bottom classes
*/
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

a, input{
    outline: none;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.btn{
    position: relative;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 9px 48px;
    font-size: 11px;
    color: #fff;
    cursor: pointer;
    background: transparent;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover{
    text-decoration: none;
    color: #fff;
}

.btn.default:hover{
    background: #fff;
    color: #111;
}
.btn.black{
    background: #000;
    color: #fff;
    border-color: #000;
}
.btn.black:hover{
    background: #444;
    color: #fff;
    border-color: #444;
}
.btn.white{
    background: #fff;
    color: #111;
    border-color: #D5D5D5;
}
.btn.white:hover{
    background: #ccc;
    color: #111;
    border-color: transparent;
}
.btn.white.gray:hover{
    background: #ccc;
    color: #111;
    border-color: transparent;
}


body{
    background: #fff;
    font-size: 16px;
    color: #000;
    font-family: "OpenSansRegular", sans-serif;
    padding-top: 118px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 118px;
    background: #fff;
    z-index: 999;
    box-shadow: rgba(0,0,0, .15) 0 2px 8px;
}

.logo{
    display: inline-block;
    box-shadow: rgba(0,0,0, .15) 0 2px 8px;
}

.table{
    display: table;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}
.table > *{
    display: table-cell;
    vertical-align: middle;
}
.table .top {
    vertical-align: top;
}
.table.auto{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

header .table{
    height: 118px;
}

header .right_side .roundbox{
    float: right;
}

.roundbox{
    width: 50px;
    height: 50px;
    background: #111;
    color: #fff;
    font-size: 14px;
    line-height: 1em;
    border-radius: 100%;
    text-align: center;
    display: table;
    text-decoration: none;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}
.roundbox:hover{
    background: #444;
}
header .menu_switcher{}
header .menu_switcher > *{
    display: table-cell;
    vertical-align: middle;
}

header .menu_switcher:hover{
    color: #3AE164;
}

.dropdown{
    position: relative;
    z-index: 1;
}
.dropdown .dropbox{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 80px;
    background: #fff;
    padding: 0;
    margin: 0;
    box-shadow: rgba(0,0,0, .15) 0 2px 8px;
}
.dropdown:hover .dropbox{
    display: inline-block;
}
.dropdown .dropbox a{
    padding: 8px 5px;
    font-size: 15px;
    color: #111;
    line-height: 1.3em;
    text-decoration: none;
    display: block;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}
.dropdown .dropbox a:hover{
    background: #eee;
}
.dropdown .dropbox a:not(:last-child){
    border-bottom: 1px solid #fcfcfc;
}

.pointer{
    cursor: pointer;
}

.mobile_logo{
    background: #fff;
    padding: 15px;
}

.slider{
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

#slider .owl-carousel .owl-nav .owl-prev{

}

#slider .owl-theme .owl-controls .owl-buttons div{
    width: 46px;
    height: 46px;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -23px;
    text-indent: -999999px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: transparent;
    opacity: 1;
}

#slider .owl-theme .owl-controls .owl-buttons div.owl-prev{
    left: 20px;
    background: url("../images/left.png") 0 0 no-repeat;
}
#slider .owl-theme .owl-controls .owl-buttons div.owl-next{
    right: 20px;
    background: url("../images/right.png") 0 0 no-repeat;
}

#slider .item{
    position: relative;
    z-index: 2;
}
#slider .item .cover{
    position: absolute;
    z-index: 3;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
    background: rgba(0,0,0, .7);
}
#slider .item .cover .inner{
    display: table;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
#slider .item .cover .inner > *{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#slider .headline{
    position: relative;
}
#slider .headline h3{
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4em;
    font-family: "OpenSansBold", sans-serif;
    font-size: 18px;
}
#slider .headline h4{
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4em;
    font-family: "OpenSansSemiBold", sans-serif;
    font-size: 11px;
    position: relative;
}
#slider .headline h4 span{
    display: inline-block;
    position: relative;
    padding: 0 25px;
}
#slider .headline h4 span::before, #slider .headline h4 span::after{
    content: " ";
    display: inline-block;
    position: absolute;
    top: 50%;
    height: 1px;
    margin-top: 0;
    background: #fff;
    min-width: 220px;
}
#slider .headline h4 span::before{
    right: 100%;
}
#slider .headline h4 span::after{
    left: 100%;
}
#slider .headline h2{
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4em;
    font-family: "PlayfairDisplayRegular", sans-serif;
    font-size: 66px;
    position: relative;
}
#slider .headline h2 span{
    font-family: "PlayfairDisplayBold", sans-serif;
}
#slider .headline p{
    font-family: "OpenSansLight", sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    color: #fff;
    text-transform: uppercase;
}
.section{
    padding: 40px 0;
}
.section.dark{
    background: #0B0B0B;
}
.section.first{
    margin-top: -37px;
}

.subscribe{
    position: relative;
}
.subscribe h3{
    color: #fff;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1.3em;
    font-family: "OpenSansLight", sans-serif;
    text-transform: uppercase;
}
.subscribe h3 span{
    font-family: "OpenSansSemiBold", sans-serif;
    font-size: 18px;
}
.subscribe p{
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #fff;
}

.subscribe_form{
    border: 1px solid #858585;
    border-radius: 30px;
    margin-top: 15px;
}
.subscribe_form input[type=text]{
    padding: 5px 10px 5px 15px;
    margin: 0;
    font-size: 14px;
    font-family: "OpenSansItalic", sans-serif;
    border: 0;
    background: transparent;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
    color: #707070;
}

.heading{
    position: relative;
    padding: 15px 0;
}
.heading h4{
    font-size: 11px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
    font-family: "OpenSansSemiBold", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}
.heading h4 span{
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 25px;
}
.heading h4 span::before, .heading h4 span::after{
    content: " ";
    display: inline-block;
    position: absolute;
    z-index: 2;
    top:50%;
    width: 100px;
    height: 1px;
    background: #111;
}
.heading h4 span::before{
    right: 100%;
}
.heading h4 span::after{
    left: 100%;
}

.heading h2{
    font-family: "PlayfairDisplayRegular", sans-serif;
    font-size: 46px;
    line-height: 1.2em;
    text-transform: uppercase;
    padding: 0;
    margin: 25px 0;
    text-align: center;
    color: #0B0B0B;
}
.heading h2 span{
    font-family: "PlayfairDisplayBold", sans-serif;
}

.page_content p{
    font-size: 14px;
    color: #111;
    line-height: 1.7em;
    margin-bottom: 40px;
}

.section.gray{
    background: #F5F5F5;
}

.products{
    position: relative;
}
.products > .table{
    box-shadow: rgba(0,0,0, .15) 0 2px 8px;
    border-radius: 3px;
}
.products .item{
    position: relative;
    background: #fff;
}
.products .item > div{
    padding: 0 45px;
}
.products .item .title h2{
    font-family: "PlayfairDisplayBold", sans-serif;
    font-size: 37px;
    color: #111;
    padding: 0;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    text-align: center;
}
.products .item .title h2 span{
    font-family: "PlayfairDisplayRegular", sans-serif;
}
.products .item .title > span{
    display: table;
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background: #111;
}

.products .item h4{
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    margin: 15px 0;
    font-family: "OpenSansRegular", sans-serif;
}
.products .item p{
    font-size: 14px;
    line-height: 1.8em;
    text-align: center;
}
.products .item .buttons > *{
    padding: 0 5px;
}

.products .item img{
    min-width: 100%;
    height: 100%!important;
}
.products .table > *{
    width: 50%;
}

#owl_rews .rew{
    text-align: center;
    padding: 20px 40px;
}
#owl_rews .rew p{
    font-size: 14px;
    line-height: 1.7em;
    color: #111;
    margin: 20px 0;
}
#owl_rews .rew h4{
    font-size: 15px;
    line-height: 1.3em;
    color: #4C4C4D;
    margin: 20px 0 5px 0;
}
#owl_rews .rew h5{
    color: #C2C2C2;
    margin: 0;
    padding: 0;
}

#owl_rews .rew span.divider{
    display: table;
    height: 2px;
    background: #CECECE;
    width: 35px;
    margin: 0 auto;
}

#owl_rews.owl-theme .owl-controls .owl-buttons div{
    width: 46px;
    height: 46px;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 28%;
    margin-top: -23px;
    text-indent: -999999px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: transparent;
    opacity: 1;
}

#owl_rews.owl-theme .owl-controls .owl-buttons div.owl-prev{
    left: 20px;
    background: url("../images/left2.png");
}
#owl_rews.owl-theme .owl-controls .owl-buttons div.owl-next{
    right: 20px;
    background: url("../images/right2.png");
}

footer{
    background: #fff;
    position: relative;
    padding: 40px 0;
    border-top: 1px solid #eee;
    box-shadow: rgba(0,0,0, .15) 0 2px 8px;
    font-size: 11px;
    color: #111;
    line-height: 1.3em;
}
footer p{
    margin: 20px 0 0 0;
}
footer p a{
    font-family: "OpenSansBold", sans-serif;
    color: #111;
    text-decoration: none;
}
footer p a:hover{
    text-decoration: underline;
    color: #111;
}

footer .footer_right{
    text-align: right;
}

.map{
    position: relative;
    height: 540px;
    background: #eee;
}
.map_wrapper{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.map_wrapper .over{
    position: absolute;
    top:15px;
    left: 15px;
    padding: 25px;
    max-width: 410px;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    text-align: center;
}
.map_wrapper .over h2{
    font-family: "PlayfairDisplayBold", sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    margin: 20px 0 15px 0;
    z-index: 2;
}
.map_wrapper .over h2 span{
    font-family: "PlayfairDisplayRegular", sans-serif;
}
.map_wrapper .over h2 p{
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 15px;
}

.white-popup{
    position: relative;
    background: #fff;
    padding: 45px;
    margin: 40px auto;
    max-width: 450px;
    border-radius: 3px;
}

.call_form{
    display: block;
    position: relative;
}

.call_form input[type=text], .call_form textarea{
    display: block;
    width: 100%;
    border: 1px solid #111;
    margin-top: 15px;
    padding: 12px 15px;
    color: #111;
    font-family: "OpenSansLight", sans-serif;
    font-size: 17px;
}
.popup_box h2{
    font-family: "PlayfairDisplayBold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 20px;
}

.banner{
    position: relative;
    background: url("../images/inner.jpg") center top no-repeat;
    background-attachment: fixed;
    text-align: center;
    min-height: 310px;
}
.page_headings{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
}
.page_headings > .table{
    width: 100%;
    height: 100%;
    position: relative;
}
.page_headings h2{
    font-size: 36px;
    color: #fff;
    font-family: "PlayfairDisplayBold", sans-serif;
    text-transform: uppercase;
    line-height: 1.3em;
}
.page_headings h2 span{
    font-family: "PlayfairDisplayRegular", sans-serif;
}
.page_headings p{
    font-family: "OpenSansSemiBold", sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 1.5em;
    text-transform: uppercase;
}

/*MixitUP*/

.tab_mix{
    position: relative;
    margin-bottom: 40px;
}
.tab_mix a{
    background: #F4F4F4;
    display: block;
    padding: 17px 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: #111;
    text-decoration: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    text-align: center;
    border-radius: 3px;
}
.tab_mix a:hover, .tab_mix a.active{
    text-decoration: none;
    color: #fff;
    background: #111;
}

#mixes {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}
#mixes:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#mixes li{
    width: 33.333%;
    float: left;
}
#mixes .mix {
    display: none;
    opacity: 0;
}
#mixes .gap {
    display: inline-block;
}

.product_inner .image img{
    min-width: 100%;
}

.product_inner{
    position: relative;
    padding: 0 10px;
}
.product_inner .content h3{
    font-size: 18px;
    text-transform: uppercase;
    color: #111;
    line-height: 1.3em;
    margin: 15px 0 5px 0;
    font-family: "OpenSansSemiBold", sans-serif;
}
.product_inner .content p{
    font-size: 12px;
    color: #939393;
    margin: 0 0 15px 0;
}
.product_inner .details{
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    padding: 15px 0;
}
.product_inner .details > .table:not(:last-child){
    margin-bottom: 10px;
}
.product_inner .details .table > div:first-child{
    width: 75px;
}
.product_inner .details span{
    color: #939393;
    font-size: 12px;
    margin: 0;
    display: inline-block;
    line-height: 1.3em;
}
.product_inner .details h5{
    font-size: 14px;
    text-transform: uppercase;
    color: #111;
    line-height: 1.4em;
    margin: 0;
}
.product_inner .details h5 span{
    text-transform: none;
    font-size: 12px;
    color: #111;
}







 /*MEDIA*/

@media (max-width: 1100px) {
    #slider .headline h2{
        font-size: 36px;
    }
    #slider .headline h3{
        font-size: 14px;
    }
    #slider .headline h4 span::before, #slider .headline h4 span::after{
        min-width: 60px;
    }
    #slider .headline p{
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    body{
        padding-top: 80px;
    }
    header, header .table{
        height: 80px;
    }
    header .logo{
        width: 125px;
    }
}

@media (max-width: 870px) {
    .products > .table{
        max-width: 585px;
        margin: 0 auto 20px auto;
    }
    .products > .table > *{
        width: 100%;
        display: block;
    }
    .products .item > div{
        padding: 30px;
    }
}

@media (max-width: 767px) {
    #mixes{
        text-align: center;
    }
    #mixes li{
        width: 100%;
        float: none;
        padding: 0 0 30px 0;
        margin-bottom: 20px;
        box-shadow: rgba(0,0,0, .15) 0 2px 8px;
        text-align: left;
    }
    .product_inner{
        max-width: 370px;
        display: table;
        margin: 0 auto;
    }
    footer p{
        margin: 0;
    }
    footer .uk-grid > *{
        margin-bottom: 20px;
        text-align: center;
    }
    .products .table > *{
        width: 100%;
    }
    .heading h4 span::before, .heading h4 span::after{
        width: 30px;
    }
    #slider .headline .aditional{
        display: none;
    }
    #slider .headline h2{
        font-size: 18px;
    }
    #slider .headline p{
        font-size: 12px;
    }
}

@media (max-width: 479px) {
    .products .buttons > *{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
}
@media (max-width: 319px) {
    #slider .headline{
        display: none;
    }
}

