@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
@import url('https://fonts.googleapis.com/css?family=Changa:200,400,500,700&subset=latin-ext');
@media (min-width: 1500px)
{
    #admin .container {
        width: 1380px;
    }
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Ubuntu', sans-serif !important;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}


#main-wrap
{
    min-height: 500px;
    font-size: 16px;
}

table.table
{
    font-size: 15px;
}

.navbar
{
    font-size: 16px;
}

.navbar-nav
{
    margin-left: 40px;
}

label, .control-label, .help-block, .checkbox, .radio
{
    font-size: 16px;
}

.control-label
{
    font-weight: bold;
}

.table > tbody > tr > td
{
    vertical-align: middle;
}

.pagination>li>a, .pagination>li>span
{
    border: 1px solid;
}

textarea.form-control {
    min-height: 100px;
}

hr {
    margin-top: 10px;
}

.popover {
    max-width: 360px;
}


/*!
 * Datepicker for Bootstrap
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* Select2 */
.select2-container{box-sizing:border-box;display:inline-block;margin:0;position:relative;vertical-align:middle}.select2-container .select2-selection--single{box-sizing:border-box;cursor:pointer;display:block;height:28px;user-select:none;-webkit-user-select:none}.select2-container .select2-selection--single .select2-selection__rendered{display:block;padding-left:8px;padding-right:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.select2-container .select2-selection--single .select2-selection__clear{position:relative}.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered{padding-right:8px;padding-left:20px}.select2-container .select2-selection--multiple{box-sizing:border-box;cursor:pointer;display:block;min-height:32px;user-select:none;-webkit-user-select:none}.select2-container .select2-selection--multiple .select2-selection__rendered{display:inline-block;overflow:hidden;padding-left:8px;text-overflow:ellipsis;white-space:nowrap}.select2-container .select2-search--inline{float:left}.select2-container .select2-search--inline .select2-search__field{box-sizing:border-box;border:none;font-size:100%;margin-top:5px;padding:0}.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}.select2-dropdown{background-color:white;border:1px solid #aaa;border-radius:4px;box-sizing:border-box;display:block;position:absolute;left:-100000px;width:100%;z-index:1051}.select2-results{display:block}.select2-results__options{list-style:none;margin:0;padding:0}.select2-results__option{padding:6px;user-select:none;-webkit-user-select:none}.select2-results__option[aria-selected]{cursor:pointer}.select2-container--open .select2-dropdown{left:0}.select2-container--open .select2-dropdown--above{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0}.select2-container--open .select2-dropdown--below{border-top:none;border-top-left-radius:0;border-top-right-radius:0}.select2-search--dropdown{display:block;padding:4px}.select2-search--dropdown .select2-search__field{padding:4px;width:100%;box-sizing:border-box}.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}.select2-search--dropdown.select2-search--hide{display:none}.select2-close-mask{border:0;margin:0;padding:0;display:block;position:fixed;left:0;top:0;min-height:100%;min-width:100%;height:auto;width:auto;opacity:0;z-index:99;background-color:#fff;filter:alpha(opacity=0)}.select2-hidden-accessible{border:0 !important;clip:rect(0 0 0 0) !important;height:1px !important;margin:-1px !important;overflow:hidden !important;padding:0 !important;position:absolute !important;width:1px !important}.select2-container--default .select2-selection--single{background-color:#fff;border:1px solid #aaa;border-radius:4px}.select2-container--default .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px}.select2-container--default .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold}.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#999}.select2-container--default .select2-selection--single .select2-selection__arrow{height:26px;position:absolute;top:1px;right:1px;width:20px}.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left}.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow{left:1px;right:auto}.select2-container--default.select2-container--disabled .select2-selection--single{background-color:#eee;cursor:default}.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear{display:none}.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}.select2-container--default .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text}.select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:100%}.select2-container--default .select2-selection--multiple .select2-selection__rendered li{list-style:none}.select2-container--default .select2-selection--multiple .select2-selection__placeholder{color:#999;margin-top:5px;float:left}.select2-container--default .select2-selection--multiple .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;margin-top:5px;margin-right:10px}.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px}.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color:#999;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px}.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{color:#333}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline{float:right}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice{margin-left:5px;margin-right:auto}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto}.select2-container--default.select2-container--focus .select2-selection--multiple{border:solid black 1px;outline:0}.select2-container--default.select2-container--disabled .select2-selection--multiple{background-color:#eee;cursor:default}.select2-container--default.select2-container--disabled .select2-selection__choice__remove{display:none}.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple{border-top-left-radius:0;border-top-right-radius:0}.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom-left-radius:0;border-bottom-right-radius:0}.select2-container--default .select2-search--dropdown .select2-search__field{border:1px solid #aaa}.select2-container--default .select2-search--inline .select2-search__field{background:transparent;border:none;outline:0;box-shadow:none;-webkit-appearance:textfield}.select2-container--default .select2-results>.select2-results__options{max-height:200px;overflow-y:auto}.select2-container--default .select2-results__option[role=group]{padding:0}.select2-container--default .select2-results__option[aria-disabled=true]{color:#999}.select2-container--default .select2-results__option[aria-selected=true]{background-color:#ddd}.select2-container--default .select2-results__option .select2-results__option{padding-left:1em}.select2-container--default .select2-results__option .select2-results__option .select2-results__group{padding-left:0}.select2-container--default .select2-results__option .select2-results__option .select2-results__option{margin-left:-1em;padding-left:2em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-2em;padding-left:3em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-3em;padding-left:4em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-4em;padding-left:5em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-5em;padding-left:6em}.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color:#5897fb;color:white}.select2-container--default .select2-results__group{cursor:default;display:block;padding:6px}.select2-container--classic .select2-selection--single{background-color:#f7f7f7;border:1px solid #aaa;border-radius:4px;outline:0;background-image:-webkit-linear-gradient(top, #fff 50%, #eee 100%);background-image:-o-linear-gradient(top, #fff 50%, #eee 100%);background-image:linear-gradient(to bottom, #fff 50%, #eee 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)}.select2-container--classic .select2-selection--single:focus{border:1px solid #5897fb}.select2-container--classic .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px}.select2-container--classic .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;margin-right:10px}.select2-container--classic .select2-selection--single .select2-selection__placeholder{color:#999}.select2-container--classic .select2-selection--single .select2-selection__arrow{background-color:#ddd;border:none;border-left:1px solid #aaa;border-top-right-radius:4px;border-bottom-right-radius:4px;height:26px;position:absolute;top:1px;right:1px;width:20px;background-image:-webkit-linear-gradient(top, #eee 50%, #ccc 100%);background-image:-o-linear-gradient(top, #eee 50%, #ccc 100%);background-image:linear-gradient(to bottom, #eee 50%, #ccc 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)}.select2-container--classic .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left}.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow{border:none;border-right:1px solid #aaa;border-radius:0;border-top-left-radius:4px;border-bottom-left-radius:4px;left:1px;right:auto}.select2-container--classic.select2-container--open .select2-selection--single{border:1px solid #5897fb}.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow{background:transparent;border:none}.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single{border-top:none;border-top-left-radius:0;border-top-right-radius:0;background-image:-webkit-linear-gradient(top, #fff 0%, #eee 50%);background-image:-o-linear-gradient(top, #fff 0%, #eee 50%);background-image:linear-gradient(to bottom, #fff 0%, #eee 50%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)}.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0;background-image:-webkit-linear-gradient(top, #eee 50%, #fff 100%);background-image:-o-linear-gradient(top, #eee 50%, #fff 100%);background-image:linear-gradient(to bottom, #eee 50%, #fff 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)}.select2-container--classic .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text;outline:0}.select2-container--classic .select2-selection--multiple:focus{border:1px solid #5897fb}.select2-container--classic .select2-selection--multiple .select2-selection__rendered{list-style:none;margin:0;padding:0 5px}.select2-container--classic .select2-selection--multiple .select2-selection__clear{display:none}.select2-container--classic .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px}.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove{color:#888;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px}.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover{color:#555}.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice{float:right}.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice{margin-left:5px;margin-right:auto}.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto}.select2-container--classic.select2-container--open .select2-selection--multiple{border:1px solid #5897fb}.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple{border-top:none;border-top-left-radius:0;border-top-right-radius:0}.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0}.select2-container--classic .select2-search--dropdown .select2-search__field{border:1px solid #aaa;outline:0}.select2-container--classic .select2-search--inline .select2-search__field{outline:0;box-shadow:none}.select2-container--classic .select2-dropdown{background-color:#fff;border:1px solid transparent}.select2-container--classic .select2-dropdown--above{border-bottom:none}.select2-container--classic .select2-dropdown--below{border-top:none}.select2-container--classic .select2-results>.select2-results__options{max-height:200px;overflow-y:auto}.select2-container--classic .select2-results__option[role=group]{padding:0}.select2-container--classic .select2-results__option[aria-disabled=true]{color:grey}.select2-container--classic .select2-results__option--highlighted[aria-selected]{background-color:#3875d7;color:#fff}.select2-container--classic .select2-results__group{cursor:default;display:block;padding:6px}.select2-container--classic.select2-container--open .select2-dropdown{border-color:#5897fb}

/*!
 * Select2 Bootstrap Theme v0.1.0-beta.9 (https://select2.github.io/select2-bootstrap-theme)
 * Copyright 2015-2016 Florian Kissling and contributors (https://github.com/select2/select2-bootstrap-theme/graphs/contributors)
 * Licensed under MIT (https://github.com/select2/select2-bootstrap-theme/blob/master/LICENSE)
 */

.select2-container--bootstrap{display:block}.select2-container--bootstrap .select2-selection{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);background-color:#fff;border:1px solid #ccc;border-radius:4px;color:#555;font-size:14px;outline:0}.select2-container--bootstrap .select2-selection.form-control{border-radius:4px}.select2-container--bootstrap .select2-search--dropdown .select2-search__field{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);background-color:#fff;border:1px solid #ccc;border-radius:4px;color:#555;font-size:14px}.select2-container--bootstrap .select2-search__field{outline:0}.select2-container--bootstrap .select2-search__field::-webkit-input-placeholder{color:#999}.select2-container--bootstrap .select2-search__field:-moz-placeholder{color:#999}.select2-container--bootstrap .select2-search__field::-moz-placeholder{color:#999;opacity:1}.select2-container--bootstrap .select2-search__field:-ms-input-placeholder{color:#999}.select2-container--bootstrap .select2-results__option{padding:6px 12px}.select2-container--bootstrap .select2-results__option[role=group]{padding:0}.select2-container--bootstrap .select2-results__option[aria-disabled=true]{color:#777;cursor:not-allowed}.select2-container--bootstrap .select2-results__option[aria-selected=true]{background-color:#f5f5f5;color:#262626}.select2-container--bootstrap .select2-results__option--highlighted[aria-selected]{background-color:#337ab7;color:#fff}.select2-container--bootstrap .select2-results__option .select2-results__option{padding:6px 12px}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__group{padding-left:0}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option{margin-left:-12px;padding-left:24px}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-24px;padding-left:36px}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-36px;padding-left:48px}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-48px;padding-left:60px}.select2-container--bootstrap .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-60px;padding-left:72px}.select2-container--bootstrap .select2-results__group{color:#777;display:block;padding:6px 12px;font-size:12px;line-height:1.42857143;white-space:nowrap}.select2-container--bootstrap.select2-container--focus .select2-selection,.select2-container--bootstrap.select2-container--open .select2-selection{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;border-color:#66afe9}.select2-container--bootstrap.select2-container--open .select2-selection .select2-selection__arrow b{border-color:transparent transparent #999;border-width:0 4px 4px}.select2-container--bootstrap.select2-container--open.select2-container--below .select2-selection{border-bottom-right-radius:0;border-bottom-left-radius:0;border-bottom-color:transparent}.select2-container--bootstrap.select2-container--open.select2-container--above .select2-selection{border-top-right-radius:0;border-top-left-radius:0;border-top-color:transparent}.select2-container--bootstrap .select2-selection__clear{color:#999;cursor:pointer;float:right;font-weight:700;margin-right:10px}.select2-container--bootstrap .select2-selection__clear:hover{color:#333}.select2-container--bootstrap.select2-container--disabled .select2-selection{border-color:#ccc;-webkit-box-shadow:none;box-shadow:none}.select2-container--bootstrap.select2-container--disabled .select2-search__field,.select2-container--bootstrap.select2-container--disabled .select2-selection{cursor:not-allowed}.select2-container--bootstrap.select2-container--disabled .select2-selection,.select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice{background-color:#eee}.select2-container--bootstrap.select2-container--disabled .select2-selection--multiple .select2-selection__choice__remove,.select2-container--bootstrap.select2-container--disabled .select2-selection__clear{display:none}.select2-container--bootstrap .select2-dropdown{-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);border-color:#66afe9;overflow-x:hidden;margin-top:-1px}.select2-container--bootstrap .select2-dropdown--above{-webkit-box-shadow:0 -6px 12px rgba(0,0,0,.175);box-shadow:0 -6px 12px rgba(0,0,0,.175);margin-top:1px}.select2-container--bootstrap .select2-results>.select2-results__options{max-height:200px;overflow-y:auto}.select2-container--bootstrap .select2-selection--single{height:34px;line-height:1.42857143;padding:6px 24px 6px 12px}.select2-container--bootstrap .select2-selection--single .select2-selection__arrow{position:absolute;bottom:0;right:12px;top:0;width:4px}.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b{border-color:#999 transparent transparent;border-style:solid;border-width:4px 4px 0;height:0;left:0;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{color:#555;padding:0}.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder{color:#999}.select2-container--bootstrap .select2-selection--multiple{min-height:34px;padding:0;height:auto}.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;line-height:1.42857143;list-style:none;margin:0;overflow:hidden;padding:0;width:100%;text-overflow:ellipsis;white-space:nowrap}.select2-container--bootstrap .select2-selection--multiple .select2-selection__placeholder{color:#999;float:left;margin-top:5px}.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice{color:#555;background:#fff;border:1px solid #ccc;border-radius:4px;cursor:default;float:left;margin:5px 0 0 6px;padding:0 6px}.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{background:0 0;padding:0 12px;height:32px;line-height:1.42857143;margin-top:0;min-width:5em}.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove{color:#999;cursor:pointer;display:inline-block;font-weight:700;margin-right:3px}.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove:hover{color:#333}.select2-container--bootstrap .select2-selection--multiple .select2-selection__clear{margin-top:6px}.form-group-sm .select2-container--bootstrap .select2-selection--single,.input-group-sm .select2-container--bootstrap .select2-selection--single,.select2-container--bootstrap .select2-selection--single.input-sm{border-radius:3px;font-size:12px;height:30px;line-height:1.5;padding:5px 22px 5px 10px}.form-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,.input-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,.select2-container--bootstrap .select2-selection--single.input-sm .select2-selection__arrow b{margin-left:-5px}.form-group-sm .select2-container--bootstrap .select2-selection--multiple,.input-group-sm .select2-container--bootstrap .select2-selection--multiple,.select2-container--bootstrap .select2-selection--multiple.input-sm{min-height:30px;border-radius:3px}.form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,.input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,.select2-container--bootstrap .select2-selection--multiple.input-sm .select2-selection__choice{font-size:12px;line-height:1.5;margin:4px 0 0 5px;padding:0 5px}.form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,.input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,.select2-container--bootstrap .select2-selection--multiple.input-sm .select2-search--inline .select2-search__field{padding:0 10px;font-size:12px;height:28px;line-height:1.5}.form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,.input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,.select2-container--bootstrap .select2-selection--multiple.input-sm .select2-selection__clear{margin-top:5px}.form-group-lg .select2-container--bootstrap .select2-selection--single,.input-group-lg .select2-container--bootstrap .select2-selection--single,.select2-container--bootstrap .select2-selection--single.input-lg{border-radius:6px;font-size:18px;height:46px;line-height:1.3333333;padding:10px 31px 10px 16px}.form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow,.input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow,.select2-container--bootstrap .select2-selection--single.input-lg .select2-selection__arrow{width:5px}.form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,.input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b,.select2-container--bootstrap .select2-selection--single.input-lg .select2-selection__arrow b{border-width:5px 5px 0;margin-left:-10px;margin-top:-2.5px}.form-group-lg .select2-container--bootstrap .select2-selection--multiple,.input-group-lg .select2-container--bootstrap .select2-selection--multiple,.select2-container--bootstrap .select2-selection--multiple.input-lg{min-height:46px;border-radius:6px}.form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,.input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice,.select2-container--bootstrap .select2-selection--multiple.input-lg .select2-selection__choice{font-size:18px;line-height:1.3333333;border-radius:4px;margin:9px 0 0 8px;padding:0 10px}.form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,.input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field,.select2-container--bootstrap .select2-selection--multiple.input-lg .select2-search--inline .select2-search__field{padding:0 16px;font-size:18px;height:44px;line-height:1.3333333}.form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,.input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__clear,.select2-container--bootstrap .select2-selection--multiple.input-lg .select2-selection__clear{margin-top:10px}.input-group-lg .select2-container--bootstrap .select2-selection.select2-container--open .select2-selection--single .select2-selection__arrow b,.select2-container--bootstrap .select2-selection.input-lg.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #999;border-width:0 5px 5px}.select2-container--bootstrap[dir=rtl] .select2-selection--single{padding-left:24px;padding-right:12px}.select2-container--bootstrap[dir=rtl] .select2-selection--single .select2-selection__rendered{padding-right:0;padding-left:0;text-align:right}.select2-container--bootstrap[dir=rtl] .select2-selection--single .select2-selection__clear{float:left}.select2-container--bootstrap[dir=rtl] .select2-selection--single .select2-selection__arrow{left:12px;right:auto}.select2-container--bootstrap[dir=rtl] .select2-selection--single .select2-selection__arrow b{margin-left:0}.select2-container--bootstrap[dir=rtl] .select2-selection--multiple .select2-selection__choice,.select2-container--bootstrap[dir=rtl] .select2-selection--multiple .select2-selection__placeholder{float:right}.select2-container--bootstrap[dir=rtl] .select2-selection--multiple .select2-selection__choice{margin-left:0;margin-right:6px}.select2-container--bootstrap[dir=rtl] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto}.has-warning .select2-dropdown,.has-warning .select2-selection{border-color:#8a6d3b}.has-warning .select2-container--focus .select2-selection,.has-warning .select2-container--open .select2-selection{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b;border-color:#66512c}.has-warning.select2-drop-active{border-color:#66512c}.has-warning.select2-drop-active.select2-drop.select2-drop-above{border-top-color:#66512c}.has-error .select2-dropdown,.has-error .select2-selection{border-color:#a94442}.has-error .select2-container--focus .select2-selection,.has-error .select2-container--open .select2-selection{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;border-color:#843534}.has-error.select2-drop-active{border-color:#843534}.has-error.select2-drop-active.select2-drop.select2-drop-above{border-top-color:#843534}.has-success .select2-dropdown,.has-success .select2-selection{border-color:#3c763d}.has-success .select2-container--focus .select2-selection,.has-success .select2-container--open .select2-selection{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;border-color:#2b542c}.has-success.select2-drop-active{border-color:#2b542c}.has-success.select2-drop-active.select2-drop.select2-drop-above{border-top-color:#2b542c}.input-group .select2-container--bootstrap{display:table;table-layout:fixed;position:relative;z-index:2;float:left;width:100%;margin-bottom:0}.input-group .select2-container--bootstrap.select2-container--focus,.input-group .select2-container--bootstrap.select2-container--open{z-index:3}.input-group.select2-bootstrap-prepend .select2-container--bootstrap .select2-selection{border-bottom-left-radius:0;border-top-left-radius:0}.input-group.select2-bootstrap-append .select2-container--bootstrap .select2-selection{border-bottom-right-radius:0;border-top-right-radius:0}.select2-bootstrap-append .input-group-btn,.select2-bootstrap-append .input-group-btn .btn,.select2-bootstrap-append .select2-container--bootstrap,.select2-bootstrap-prepend .input-group-btn,.select2-bootstrap-prepend .input-group-btn .btn,.select2-bootstrap-prepend .select2-container--bootstrap{vertical-align:top}.form-control.select2-hidden-accessible{position:absolute!important;width:1px!important}.form-inline .select2-container--bootstrap{display:inline-block}

 

.cat-admin-view {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.cat-admin-view ul span {
    margin: 5px 15px 5px 0;
    padding: 0 0 0 15px;
    display: inline-block;
    width: 350px;
    border: 0;
    font-weight: normal;
}
.cat-admin-view span {
    margin: 35px 15px 10px 0;
    display: inline-block;
    width: 350px;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
}

.cat-admin-view ul li {
    padding-left: 50px;
}

.corner-right {
    display: block;
    /* width: 552px; */
    padding: 100px 50px 10px 50px;
    /* padding-bottom: 10px; */
    text-align: right;
    position: fixed;
    top: -46px;
    left: -101px;
    background: rgba(204,51,51,1);
    color: #FFFFFF;
    z-index: 9999;
    -webkit-transform: rotate(-52deg);
    -moz-transform: rotate(-52deg);
    -o-transform: rotate(-52deg);
    transform: rotate(-52deg);
    opacity: .95; cursor: pointer;
    font-size: 12px;
}
.corner-right:hover {
    opacity: 1;
}
.corner-right a {
    color: #FFFFFF;
}
.corner-right a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* Butoane */
.red-btn {
    background: #CC3333;
    color: #FFFFFF;
    border: 1px solid #CC3333;
    border-radius: 5px;
    transition: .3s all;
}
.red-btn:hover {
    background: #FFFFFF;
    color: #444444;
    text-decoration: none;
    border: 1px solid #CC3333;
}
.big-red-btn {
    margin: 60px auto;
    padding: 15px 35px;
    display: table;
    font-size: 18px;
    background: #CC3333;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    border: 4px solid #000000;
    outline: 2px solid #FFFFFF;
    transition: .3s all;
}
.big-red-btn:hover {
    background: #FFFFFF;
    color: #000000;
    text-decoration: none;
    outline: 2px solid #FFFFFF;
}
.center-btn {
    margin: 60px auto 30px auto;
    display: table;
    padding: 5px 15px;
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #444444;
    transition: .3s all;
}
.center-btn:hover {
    color: #CC3333;
    border-color: #CC3333;
    text-decoration: none;
}


/* Titluri */
.center-title {
    margin: 30px 0;
    font-size: 28px;
    font-weight: bold;
    color: #444444;
    text-align: center;
    text-transform: uppercase;
}
.center-title:after {
    content: ' ';
    margin: 15px auto;
    display: block;
    width: 100px;
    height: 1px;
    background: #CC3333;
}
.mini-title {
    margin: 15px 0;
    text-transform: uppercase;
}
.mini-title:after {
    content: ' ';
    margin: 15px 0;
    display: block;
    width: 40px;
    height: 1px;
    background: #CC3333;
}


/* Diferite */
.umbra {	
    margin: 15px auto !important;
    width: 100%;
    height: 17px;
    background: url(../images/teni-180.png) no-repeat center;
}
.umbra-180 {	
    margin: 15px auto !important;
    width: 100%;
    height: 17px;
    background: url(../images/teni.png) no-repeat center;
}
.alternative-v-line {
    display: none !important;
    position: absolute;
    top: -112px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 112px;
    border: 1px solid #DDDDDD;
}
.home .alternative-v-line {
    display: block !important;
}

/* Slideshow cu text */
.slide-cat {
    overflow: hidden;
    background: #000000;
    border-bottom: 10px solid #DDDDDD;
}
.slide-t {
    padding: 10px 0 0 0;
    position: relative;
    margin: 0 auto;
    width: 1px; 
    height: 800px;
    background: #000000;

}
.slide-t-inn {
    overflow: hidden;

}
.slide-t-text {
    position: absolute;
    top: 50px;
    right: 4%;
}
.slide-t-item:last-child .slide-t-text {
    top: 100px;
    left: 8%;
}

.slide-t-item .owl-item iframe
{
    width: 100%;
    height: 724px;
    position: relative;
    margin-left: 150px;
}

.slide-t-text ul {
    display: table;
    margin: 0;
    padding: 15px 60px;
    list-style-type: none;
}
.slide-t-text ul > li {
    margin: 15px 0;
    padding: 0 15px;
    display: block;
}
.slide-t-text ul > li:hover {
    background: #CC3333;
}
.slide-t-text ul > li:hover a {
    text-decoration: none;
}

.slide-t-text ul > li > a {
    display: block;
    padding: 5px 5px;
    color: #FFFFFF;
    font-family: 'Changa', sans-serif;
    transform: skewX(30deg);
}
.slide-t-item:last-child .slide-t-imgs {
    float: none;
    margin: 0 0 50px 0;
}
.slide-t-item:last-child .slide-t-imgs h4 {

}
.slide-t-imgs {
    float: right;
    margin: 30px 0 0 0;
    display: table;
    padding: 5px 0px;
    width: 400px;
    text-align: center;
    background: rgba(255,255,255,1);
}
.slide-t-imgs > img {

    transform: skewX(30deg);
}
.slide-t-imgs img {
    display: inline-block;
    margin: 0 20px 0 0 ;
    vertical-align: top;
}
.slide-t-imgs h4 {
    transform: skewX(30deg);
    display: inline-block;
    margin: 0;
    color: #CC3333;
    font-size: 32px;
    text-transform: uppercase;
}


.slide-t-inn {
    overflow: hidden;

}
.slide-t-text {
    position: absolute;
    top: 50px;
    right: 4%;
}
.slide-t-item:last-child .slide-t-text {
    top: 100px;
    left: 8%;
}
.slide-t-text ul {
    display: table;
    margin: 0;
    padding: 15px 60px 0 0;
    list-style-type: none;
}
.left-s-ul {
    padding-right: 0px !important;
}
.slide-t-text ul > li {
    margin: 15px 0;
    padding: 0 15px;
    display: block;
}
.slide-t-text ul > li:hover {
    background: rgba(0,0,0,.7);
}
.slide-t-text ul > li:hover a {
    text-decoration: none;
}

.slide-t-text ul > li > a {
    display: block;
    padding: 5px 5px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Changa', sans-serif;
    text-transform: uppercase;
    transform: skewX(30deg);
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 1);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}
.slide-t-item:last-child .slide-t-imgs {
    float: none;
    margin: 0 0 30px;
}
.slide-t-item:last-child .slide-t-imgs h4 {

}
.slide-t-imgs {
    float: right;
    margin: 30px 0 0 0;
    display: table;
    padding: 5px 0px;
    width: 400px;
    text-align: center;
    background: rgba(255,255,255,1);
}
.slide-t-imgs > img {

    transform: skewX(30deg);
}
.slide-t-imgs img {
    display: inline-block;
    margin: 0 20px 0 0 ;
    vertical-align: top;
}
.slide-t-imgs h4 {
    transform: skewX(30deg);
    display: inline-block;
    margin: 0;
    color: #CC3333;
    font-size: 32px;
    text-transform: uppercase;
}



.slide-t-item {
    top: 80px;
    width: 1300px !important;
    overflow: hidden;
    position: absolute;  
    transform: skewX(-30deg);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 1);
}
.slide-t-item:first-child {
    left: -1141px;
    transform-origin: 100% 0;
    border-right: 10px solid rgba(255,255,255,.2);
    z-index: 10;
}
.slide-t-item:last-child {
	right: -934px;
    width: 1410px !important;
    transform-origin: 0 100%;
    border-left: 10px solid rgba(255,255,255,.4);
}

.slide-t-item > img, .slide-t-item:after {
    transform: skewX(30deg);
    transform-origin: inherit;
}
.slide-t-item > img {
    width: 1500px !important;
}

.slide-t-item:first-child:after { top: 0; left: 0; }
.slide-t-item:last-child:after { right: 0; bottom: 0; }




.sub-header {
    height: 100px;
    background: #000000;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #FFFFFF;
    z-index: 99;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.75);
}
.top-bar {	
    padding: 5px 0;	
    background: #FFFFFF;
    font-size: 12px;
    color: #444444;
    border-bottom: 1px solid #000000;
    position: relative;
    z-index: 2;
}
.top-bar-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}
.top-bar-nav > li {
    margin: 0 0 0 15px;
    display: inline-block;
}
.top-bar-nav > li > a {
    display: block;
    padding: 0px 15px;
    font-size: 14px;
}

.header-content {
    position: relative;
    z-index: 1;
    padding: 15px 0;
    background: url(../images/subtle_carbon.png) repeat;
}
.header-logo {
    position: relative;
}
.header-logo a {
    display: block;
    position: absolute;
    top: -15px;
    left: 0;
    background: #FFFFFF;
    padding: 15px 10px;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.51);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.51);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.51);
}
.header-logo a > img {
    /*height: 100px;*/
}
.header-logo h2 {
    margin: 0;
}
.header-nav {
    text-align: right;
}
.header-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header-nav ul > li {
    display: inline-block;
    text-align: center;
}
.header-nav ul > li > a {
    display: block;
    margin: 0 0 0 15px;
    padding: 5px 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: .2s all;
}
.header-nav ul > li > a:hover,
.header-nav ul > li .active {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}
.lang-panel {

}
.lang-panel a {
    color: #fdca31;
}
.lang-panel a:hover {
    color: #FFFFFF;
}
.slideshow {

    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.75);
}
.slideshow-item {
    max-height: 800px;
    overflow: hidden;
    position: relative;
}
.slideshow-item > img {
    width: 100%;
}
.slideshow-item-wrap {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.slideshow-text {
    padding: 10% 0;
    color: #FFFFFF;
}
.micro-line {
    margin: 60px auto;
    width: 250px;
    height: 1px;
    background: #CC3333;
}
.slideshow-text h1 {
    display: table;
    margin: 15px auto;
    font-size: 54px;
    font-family: 'Lobster', cursive;
}
#home-slide {
    position: relative;
    border-bottom: 4px solid #444444;
}
#home-slide .owl-controls {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
#home-slide .owl-page {
    display: block;
}
#home-slide .owl-controls span {
    display: block;
    width: 70px;
    height: 18px;
    margin: 5px auto;
    background: #CC3333;
    border: 1px solid #CC3333;
    border-radius: 0;
    position: relative;
}
#home-slide .owl-controls .active span {
    background: #CC3333;
    border: 1px solid #CC3333;
}
#home-slide .owl-controls span:before, 
#home-slide .owl-controls span:after {
    position: absolute;
    content: ' ';
    top: 7px;
    width: 30px;
    height: 2px;
    background: #FFFFFF;
}
#home-slide .owl-controls span:before {
    left: -40px;
}
#home-slide .owl-controls span:after {
    right: -40px;
}


.home-slide-line {
    position: relative;
}
.vertical-line {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0px;
    height: 93px;
    border: 1px solid #DDDDDD;

}

.vertical-line-circle {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 18px;
    height: 18px;
    background: #CC3333;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    z-index: 2;
}
.horizontal-line {
    position: absolute;
    top: 109px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2px;
    border: 1px solid #FFFFFF;
    z-index: 1;
}

.home-categories {

}	.home-slide-item {
    margin: 30px 0;
}
.home-slide-item h4 {
    color: #CC3333;
    font-size: 34px;
}
.home-slide-item ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.home-slide-item ul > li {
    display: block;
}
.home-slide-item ul > li > a {
    margin: 5px  70px;
    display: block;
    padding: 5px;
    color: #444444;
    font-weight: bold;
}
.home-slide-item ul > li > a:hover {
    color: #CC3333;
    text-decoration: none;
}
.hsi-title {

}
.hsi-title img {
    display: inline-block;
    margin: 0 15px;
    vertical-align: top;
}
.hsi-title h4 {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}


.home-calendar {
    margin: 0 0 30px 0;
}	
.calendar-inn {

}
.calendar-important a {
    padding-top: 40px !important;
    height: 230px !important;
    background: #CC3333;
    color: #FFFFFF !important;
    border: 4px solid #FFFFFF !important;
    outline: 1px solid #CC3333;
}
.calendar-important a:hover {
    opacity: .7;
    text-decoration: none;
    outline: 1px solid #CC3333;
}
.calendar-important strong {
    color: #FFFFFF !important;
}
.calendar-important2 a {			
    background: #CC3333;
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF !important;
}
.calendar-important2 a:hover {
    opacity: .7;
    text-decoration: none;
    outline: 1px solid #CC3333;
}
.calendar-important2 strong {
    color: #FFFFFF !important;
}
.calendar-item {

}
.calendar-item a {
    display: block;
    margin: 15px 0;
    padding: 15px 5px;
    height: 100px;
    text-align: center;
    color: #444444;
    border: 1px solid #DDDDDD;
    transition: .3s all;
}
.calendar-item i {
    display: block;
    margin: 15px 0;
    font-size: 40px;
}
.calendar-item strong {
    margin: 5px 0;
    display: block;
    font-size: 16px;
    color: #CC3333;
}
.calendar-item p {
    font-size: 12px;
}
.calendar-item a:hover {
    background: #CC3333;
    color: #FFFFFF;
    text-decoration: none;
    border-color: #CC3333;
}
.calendar-item a:hover strong {
    color: #FFFFFF;
}

.home-news {
    position: relative;
    margin: 80px 0 30px 0;
    padding: 15px 0;
    background: url(../images/crossword.png) repeat;
    border-top: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
}	
.news-item {
    margin: 15px 0;                
}
.news-item a {
    display: block;
    padding: 15px;
    background: #FFFFFF;
    color: #444444;
    border: 1px solid #CCCCCC;
    height: 200px;
}
.news-item a strong {
    display: block;
    text-transform: uppercase;
    color: #CC3333;
}
.news-item a time {
    display: block;
    margin: 5px 0;
}
.news-item a p {
    font-size: 12px;
    color: #666;
}
.news-item a:hover {
    color: #000000;
    text-decoration: none;
}
.news-item a:hover strong, 
.news-item a:hover p {
    color: #000000;
}




.event-item {
    margin: 15px 0;
    display: block;
    height: 80px;
    color: #444444;
    border: 1px solid #EEEEEE;
}
.event-item time {
    float: left;
    display: block;
    width: 80px;
    height: 78px;
    background: #fdca31;
    color: #444444;
    text-align: center;
}
.event-item time > strong {
    padding: 10px 0 0 0;
    font-size: 24px;
    color: #000000;
}
.event-thumb {
    float: left;
    width: 80px;
    height: 78px;
    overflow: hidden;
}
.event-thumb img {
    height: 160px;
}
.event-item-short {
    float: left;
    padding: 15px 25px;
}
.event-item-short h3 {
    margin: 10px 0;
}


.page-images {

}
.page-thumb {
    margin: 15px 0;
    display: block;
    height: 100px;
    overflow: hidden;
}
.page-thumb img {
    width: 100%;
}


.big-btn {
    display: table;
    margin: 30px auto;
    padding: 10px 25px;
    color: #CC3333;
    background: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #CC3333;
}













.footer {
    position: relative;
    margin: 82px 0 0 0;
    padding: 30px 0 0 0;
    background: #000000;
    color: #FFFFFF;
}	
.footer-newsletter {

}
.footer-newsletter p {
    font-size: 12px;
}
.footer-newsletter input {
    display: inline-block;
    margin: 15px 0;
    padding: 5px 15px;
    border: 0;
    font-size: 12px;
}
.footer-newsletter button {
    display: inline-block;
    margin: 15px 0;
    padding: 5px 15px;
    border: 0;
    font-size: 13px;
    border: 0;
    background: #CC3333;
    color: #FFFFFF;
}
.footer-social {

}
.footer-social a {
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 0px 10px;
    background: #FFFFFF;
    color: #000000;
    font-size: 24px;
    border-radius: 5px;
}
.footer-social a:hover {
    color: #CC3333;
}
.footer-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-nav > li {
    display: block;
    font-size: 12px;
}
.footer-nav > li  a {
    padding: 2px 0;
    color: #FFFFFF;
}
.footer-copy {
    margin: 15px 0 0 0;
    padding: 15px 0;
    font-size: 12px;
    border-top: 1px solid #FFFFFF;
}

#subscribe-form input {
    color: #222222;
}

.by_nixap {
    float: right;
    font-size: 14px;
    font-family: 'Lobster', cursive;
}
.by_nixap a {
    color: #CC3333;
}
.by_nixap a:hover {
    font-size: 20px;
    text-decoration: none;
    color: #CC3333;
}


.fake-radio {
    position: relative;
    border: 1px solid #000;
    padding: 6px 4px;
    background-color: #fff;
    margin-bottom: 0;
    margin-right: 15px;
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.fake-radio.selected {
    background-color: #444;
    color: #fff;
}

.fake-radio input
{
    position: absolute;
    top: 16px;
    left: 45%;
    z-index: -1;
}


#cui, #cont_bancar, #bank, #tva, #reg_number {
    display: none;
}

#top-line
{
    background-color: #CC3333;
    padding: 15px 0 25px 0;
    display: none;
}
#top-line a {
    color: #CC3333;
}
#top-line h5 {
    margin: 0 15px 0 0;
    padding: 2px 10px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    display: inline-block;
    font-size: 15px;
}
#close-top-line
{
    margin-bottom: -5px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #FFFFFF;
    color: #FFF !important;
    cursor: pointer;
}
#close-top-line:hover {
    text-decoration: none;
}
#open-top-line {
    display: none;
    color: #CC3333;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #CC3333;
    cursor: pointer;
}
#open-top-line:hover {
    text-decoration: none;
}
.header-height {
    height: 80px;
}

#slide_show_list_left>li {
    cursor: move;
}
