@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic');

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
}



/* TOP BAR */
.top-bar {
    position: relative;
    background: #EEEEEE;
    font-size: 12px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.48);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.48);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.48);
    z-index: 2;
}
.top-bar .drop {
    border-right: 1px solid #DDDDDD;
}
.top-bar-menu {
    float: right;
    margin: 0;
    padding: 0;
    display: table;
    list-style-type: none;
}
.top-bar-menu > li {
    display: table-cell;
    width: 1%;
}
.top-bar-menu > li > a {
    display: block;
    padding: 10px 0;
    color: #CC3333;
    font-weight: 700;
    text-align: center;
}
.top-bar-menu > li > a:hover {
    color: #CC3333;
    text-decoration: none;
}
.top-bar-menu > li > a > i {
    margin: 0 5px 0 0;   
}

/* HEADER */
.header {
    padding: 15px 0;
    background: #FFFFFF;
    color: #444444;
}
.logotype {
    
}
.logotype > a {
    
}
.logotype > a > img {
    
}



/* DROP MENU */
.drop {
    padding: 10px 15px 10px 0;
    position: relative;
    display: block;
}
.drop > small {
    
}
.drop > span {
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
    border-bottom: 1px dotted #444444;
}
.drop > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 15px;
    width: 100%;
    background: #FFFFFF;
    list-style-type: none;
    -webkit-box-shadow: 2px 2px 11px 0px rgba(50, 50, 50, 0.48);
    -moz-box-shadow:    2px 2px 11px 0px rgba(50, 50, 50, 0.48);
    box-shadow:         2px 2px 11px 0px rgba(50, 50, 50, 0.48);
    z-index: 1;
}
.drop > ul > li {
    display: block;
}
.drop > ul > li > a {
    display: block;
    padding: 5px 0;
    font-size: 14px;
}
.drop:hover > ul {
    display: block;
} 



/* HEADER */
header {
    padding: 30px 0;
    background: #4D8FAC;
    color: #FFFFFF;
}
.header-logo {
    
}
